* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#addContactBtn {
  float: right;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label,
.form-group input {
  width: 100%;
  display: block;
}

/* modal styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal.open {
  display: block;
}

.modal .modal-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  width: 460px;
  padding: 20px;
}

.modal h2 {
  margin-top: 0;
}

.modal .button-group {
  float: right;
}
